---
toc: true
comments: true
layout: post
title: official 2nd tri team teach review
description: official review on the 2nd tri team teach reviews
type: hacks
courses: { compsci: {week: 7} }
---

| Category |    Score   |   Grader Verification  |  Extras  |  Key Indicators: Blog, GitHub File(s) and Key Commits |
| -------- | ---------- | ---------------------- | -------- | ----------------------------------------------------- |
| The Internet | 0.90/1 | Aiden L | Own research on The Interent and Review of Team Teach | My HW:  |            
| Routing and Computing | No score  |Submitted to Mr. Lopez | Re-Review of Team Teach and Collegeboard Video on Topic | My HW:   |
| Beneficial and Harmful Effects | Tarun T | 0.85/1 | Re-Review of Team Teach and Collegeboard Video on Topic | My HW: submitted on slack https://cs-p-hq.slack.com/archives/D06927MQ0J1/p1701969885999119 | 
| Digital Divide | No Score| Absent and submitted to Mr. Lopez | Re-Review of Team Teach and Collegeboard Video on Topic | My HW: https://cs-p-hq.slack.com/archives/D065C0Q80EL/p1704992666823689 |     
| Computing Bias | 0.87/1 | Isabelle P | Review of Team Teach, Additional Research with ChatGPT | My HW : submitted on slack https://cs-p-hq.slack.com/archives/D069TMCD5B4/p1702400611235589 |         
| Crowdsourcing | 0.94/1 | Anthony Y | Review of Team Teach, Additional Research with ChatGPT | My HW: https://cs-p-hq.slack.com/archives/D06A48HGGBX/p1702573943166469 |             
| Legal Ethical Concerns | 1/1 | Jayden Chen/ Submitted to Mr. Lopez | Own research on The Interent and Review of Team Teach | Form is closed, so no score is avaliable to veiw, scorer said "Full score on makeup quiz" |          
| Safe Computing | 1/1 | Sreeja Rai | Collegeboard video to learn topic + making the entire google form | My team Teach: https://github.com/abby-albert/student/blob/main/_posts/2023-12-21-Safe_Computing.ipynb |              
| CB Quiz | 65/67 or 0.97/1 | Mr. Mortenson | Blog, Test Corrections, and research on unknown topics | My blog for CB quiz review:http://127.0.0.1:4200/student//2024/01/09/college_board_quiz_review.html |
| Totals | Median Score: | Number complete: | Extra effort count: | Key tangible assets count: |




